In [2]:
import pandas as pd

# Load dataset
df = pd.read_csv('marketing_campaign.csv', sep='\t')

In [3]:
# 1. Identify and handle missing values
missing_values = df.isnull().sum()
print("Missing values:\n", missing_values)

Missing values:
 ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [4]:
# Example: Handle missing 'Income' values by filling with median
df['Income'] = df['Income'].fillna(df['Income'].median())

In [5]:
# 2. Remove duplicate rows
df = df.drop_duplicates()

In [6]:
# 3. Standardize text values
# Strip and lowercase for categorical fields
df['Education'] = df['Education'].str.strip().str.lower()
df['Marital_Status'] = df['Marital_Status'].str.strip().str.lower()

In [7]:
# 4. Convert date formats
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], format='%d-%m-%Y')

In [8]:
# 5. Rename columns to be clean and uniform
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [10]:
# Check exact column names
print("Columns before cleaning:", df.columns.tolist())

# Clean column names to lowercase, remove spaces, standardize format
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

# Check cleaned column names
print("Columns after cleaning:", df.columns.tolist())

# Now safely convert 'income' column to numeric
if 'income' in df.columns:
    df['income'] = pd.to_numeric(df['income'], errors='coerce')
else:
    print("Column 'income' not found even after cleaning.")

Columns before cleaning: ['id', 'year_birth', 'education', 'marital_status', 'income', 'kidhome', 'teenhome', 'dt_customer', 'recency', 'mntwines', 'mntfruits', 'mntmeatproducts', 'mntfishproducts', 'mntsweetproducts', 'mntgoldprods', 'numdealspurchases', 'numwebpurchases', 'numcatalogpurchases', 'numstorepurchases', 'numwebvisitsmonth', 'acceptedcmp3', 'acceptedcmp4', 'acceptedcmp5', 'acceptedcmp1', 'acceptedcmp2', 'complain', 'z_costcontact', 'z_revenue', 'response']
Columns after cleaning: ['id', 'year_birth', 'education', 'marital_status', 'income', 'kidhome', 'teenhome', 'dt_customer', 'recency', 'mntwines', 'mntfruits', 'mntmeatproducts', 'mntfishproducts', 'mntsweetproducts', 'mntgoldprods', 'numdealspurchases', 'numwebpurchases', 'numcatalogpurchases', 'numstorepurchases', 'numwebvisitsmonth', 'acceptedcmp3', 'acceptedcmp4', 'acceptedcmp5', 'acceptedcmp1', 'acceptedcmp2', 'complain', 'z_costcontact', 'z_revenue', 'response']

In [11]:
# Verify the results
print("\nCleaned Data Types:\n", df.dtypes)
print("\nCleaned Dataset Preview:\n", df.head())

Cleaned Data Types:
 id                              int64
year_birth                      int64
education                      object
marital_status                 object
income                        float64
kidhome                         int64
teenhome                        int64
dt_customer            datetime64[ns]
recency                         int64
mntwines                        int64
mntfruits                       int64
mntmeatproducts                 int64
mntfishproducts                 int64
mntsweetproducts                int64
mntgoldprods                    int64
numdealspurchases               int64
numwebpurchases                 int64
numcatalogpurchases             int64
numstorepurchases               int64
numwebvisitsmonth               int64
acceptedcmp3                    int64
acceptedcmp4                    int64
acceptedcmp5                    int64
acceptedcmp1                    int64
acceptedcmp2                    int64
complain                        int64
z_costcontact                   int64
z_revenue                       int64
response                        int64
dtype: object

Cleaned Dataset Preview:
      id  year_birth   education marital_status   income  kidhome  teenhome  \
0  5524        1957  graduation         single  58138.0        0         0
1  2174        1954  graduation         single  46344.0        1         1
2  4141        1965  graduation       together  71613.0        0         0
3  6182        1984  graduation       together  26646.0        1         0
4  5324        1981         phd        married  58293.0        1         0

  dt_customer  recency  mntwines  ...  numwebvisitsmonth  acceptedcmp3  \
0  2012-09-04       58       635  ...                  7             0
1  2014-03-08       38        11  ...                  5             0
2  2013-08-21       26       426  ...                  4             0
3  2014-02-10       26        11  ...                  6             0
4  2014-01-19       94       173  ...                  5             0

   acceptedcmp4  acceptedcmp5  acceptedcmp1  acceptedcmp2  complain  \
0             0             0             0             0         0
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

   z_costcontact  z_revenue  response
0              3         11         1
1              3         11         0
2              3         11         0
3              3         11         0
4              3         11         0

[5 rows x 29 columns]